<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="EmailRemetente" value="luiz.programa.carlos@gmail.com"/>
		<add key="SenhaEmail" value="iilg xuxm yqbq iqgj"/>
		<add key="NomeRemetente" value="AtendeTech"/>
		<add key="HostSMTP" value="smtp.gmail.com"/>
		<add key="PortaSMTP" value="587"/>
	</appSettings>
</configuration>
